<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            rel="stylesheet" href="/templates/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='/api/oauth2/authorization/naver'"
                    th:onclick="|location.href='@{/api/oauth2/authorization/naver}'|"
                    type="button">네이버 로그인</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>